@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Titan+One&display=swap');

:root {
    --border: 3px solid #407ba5;
    --colorOne: #264653;
    --colorTwo: #2A9D8F;
    --colorThree: #E9C46A;
    --colorFour: #F4A261;
    --colorFive: #E76F51;
    --colorSix: white;
    --mainFont: 'Titan One', cursive;
    --fontTwo: 'Bubblegum Sans', cursive
  
  }


  /* iPhone 12 Portrait */
@media only screen and (min-width: 375px) and (max-width: 844px) and (orientation: portrait) {
    /* Your CSS styling for iPhone 12 in portrait orientation */
  }
  
  /* iPhone 12 Landscape */
  @media only screen and (min-width: 844px) and (max-width: 375px) and (orientation: landscape) {
    /* Your CSS styling for iPhone 12 in landscape orientation */
  }
  