@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Titan+One&display=swap');

:root {
  --border: 3px solid #407ba5;
  --colorOne: #264653;
  --colorTwo: #2a9d8f;
  --colorThree: #e9c46a;
  --colorFour: #f4a261;
  --colorFive: #e76f51;
  --colorSix: white;
  --mainFont: 'Titan One', cursive;
  --fontTwo: 'Bubblegum Sans', cursive;
}

html {
  height: 100%;
  background-color: #407ba5;
}

body {
  margin: 1%;
  margin-top: 2%;
}

/* navbar css */
.header {
  background-color: var(--colorTwo);
  border: var(--border);
  border-radius: 7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header h1 {
  font-family: var(--mainFont);
  color: var(--colorSix);
  font-weight: lighter;
  font-size: 3em;
  margin-bottom: 10px;
}

header h2 {
  font-family: var(--mainFont);
  color: var(--colorSix);
  font-weight: lighter;
  font-size: 1.5em;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.5em;
}

.navButtons {
  border-radius: 6px;
  color: var(--colorSix);
  background-color: var(--colorFour);
  font-family: var(--fontTwo);
  font-size: 2vw;
  width: 125%;
}

.checkList {
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: var(--colorOne);
  border: solid var(--colorTwo);
  border-radius: 3px;
  font-family: var(--fontTwo);
  color: var(--colorSix);
  padding: 3%;
}

.checkList h3 {
  font-size: 9vw;
  text-decoration: underline;
}

.checkList p
{
  font-family: var(--fontTwo);
  font-size: 7vw;

}
/* ----- FOOTER CSS ----- */

.pagefooter {
  background-color: var(--colorTwo);
  border: var(--border);
  border-radius: 7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footerInfo {
  font-family: var(--mainFont);
  color: var(--colorSix);
  font-weight: lighter;
  font-size: 1em;
  margin-bottom: 10px;
}

#gitHubIcon {
  padding-top: 0.5em;
}

/* ------ HOME PAGE CSS ------ */

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 0%;
}

.gridItem1 {
  display: flex;
  flex-direction: column;
  background-color: var(--colorOne);
  border: solid var(--colorTwo);
  border-radius: 3px;
  grid-column: 2fr;
  grid-row: 1fr;
  font-family: var(--fontTwo);
  color: var(--colorSix);
  font-weight: lighter;
  font-size: 150%;
  padding: 3%;
}

.gridItem1 h1 {
  font-size: 200%;
}

.headingImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  text-decoration: underline;
}

.headingImg img {
  transform: rotate(15deg);
}

.gridImg {
  width: 25%;
}

.gridItem2 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: var(--colorOne);
  border: solid var(--colorTwo);
  border-radius: 3px;
  grid-column: 0.5fr;
  grid-row: 1fr;
  font-family: var(--fontTwo);
  color: var(--colorSix);
  font-weight: lighter;
  font-size: 125%;
  padding: 3%;
}

.gridItem2 h1 {
  text-decoration: underline;
}

.gridItem2 img {
  width: 100%;
  border-radius: 7px;
}

/* -------PROFILE CSS ------- */

.textAreaContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.textAreaContainer h2 {
  font-family: var(--mainFont);
  color: var(--colorSix);
  font-size: 200%;
  font-weight: lighter;
}

.profileHeader {

  color: var(--colorSix);
  font-weight: lighter;
  text-decoration: underline;
}



.profileHeader h3 {
  font-family: var(--fontTwo);
  font-size: 200%;
}

.profileHeader textarea {
  width: 100%;
  height: 150%;
  resize: both;
  border: var(--border);
  border-radius: 8px;
}

.formButton {
  border-radius: 6px;
  color: var(--colorSix);
  background-color: var(--colorFour);
  font-family: var(--fontTwo);
  font-size: 2vw;
  width: 50%;
}

.errorContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: var(--fontTwo);
  color: var(--colorSix);
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.errorContainer img {
  border-radius: 20%;
  border: var(--border);
  width: 550px;
  height: 550px;
  filter: opacity(70%);
}

#pleaseLogin {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: var(--colorTwo);
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

#pleaseLogin::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.7);
}

/* -----------Login Form----------- */

.loginContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

#contact input[type='text'],
#contact input[type='password'],
#contact button[type='submit'] {
  font: 400 12px/16px 'Open Sans', Helvetica, Arial, sans-serif;
}

#contact {
  background-color: var(--colorOne);
  padding: 25px;
  margin: 50px 0;
  border: solid var(--colorThree);
  border-radius: 7px;
  width: 55vw;
}

#contact h3 {
  font-family: var(--mainFont);
  color: var(--colorSix);
  font-weight: lighter;
  font-size: 3vw;
  text-align: center;
}

.formLabel {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 75%;
  padding: 0;
  width: 95%;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='password'] {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type='text']:hover,
#contact input[type='email']:hover,
#contact input[type='tel']:hover,
#contact input[type='url']:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact button[type='submit'] {
  border-radius: 6px;
  color: var(--colorSix);
  background-color: var(--colorFour);
  font-family: var(--fontTwo);
  font-size: 24px;
  width: 25%;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
}

#contact button[type='submit']:hover {
  background-color: var(--colorTwo);
  color: var(--colorSix);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

#contact button[type='submit']:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

/* Quiz Component */
.quiz-container {
  text-align: center;
  padding: 12px 25px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 20px auto 20px auto;
  max-width: 80%;
  height: auto;
  border-radius: 7px;
  color: var(--colorSix);
  background-color: var(--colorFour);
  font-family: var(--fontTwo);
  font-size: 24px;
}
/* .quiz-contents {
  text-align: center;
  padding: 0 25px;
} */
.quiz-container ul {
  padding: 0;
  list-style: none;
}
.quiz-container li {
  border-radius: 6px;
  background-color: #2a9d8f;
  margin-top: 8px;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 24px;
  /* cursor: pointer; */
}
.quiz-container input {
  accent-color: var(--colorThree);
}
.quiz-container button {
  border-radius: 6px;
  color: var(--colorSix);
  background-color: #2a9d8f;
  font-family: var(--fontTwo);
  font-size: 24px;
  padding: 10px 20px;
}

/* iPhone 12 Portrait */
@media only screen and (min-width: 100px) and (max-width: 844px) and (orientation: portrait) {
  body {
    margin: 1%;
    margin-top: 5%;
  }

  .header {
    width: 100%;
  }

  header h1 {
    font-size: x-large;
    text-align: center;
  }

  header h2 {
    font-size: large;
    text-align: center;
    padding-left: 17px;
    padding-right: 17px;
  }

  .navButtons {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.35s ease-out;
    justify-content: center;
    background-color: var(--colorFour);
    color: var(--colorSix);
    font-size: 4vw;
    font-family: var(--fontTwo);
    font-weight: bolder;
    width: 5em;
    cursor: pointer;
  }

  /* ----- FOOTER ----- */
  .pagefooter {
    width: 100%;
    background-color: var(--colorTwo);
    border: var(--border);
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footerInfo {
    font-family: var(--fontTwo);
    color: var(--colorSix);
    font-weight: lighter;
    font-size: 4vw;
    margin-bottom: 10px;
  }

  #gitHubIcon {
    padding-top: 0.5em;
  }

  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 75%;
    padding: 0;
    width: 85%;
  }

  #contact button[type='submit'] {
    border-radius: 6px;
    color: var(--colorSix);
    background-color: var(--colorFour);
    font-family: var(--fontTwo);
    font-size: 24px;
    width: 75%;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
  }

  #contact {
    background-color: var(--colorOne);
    padding: 25px;
    margin: 50px 0;
    border: solid var(--colorThree);
    border-radius: 7px;
    width: 75%;
  }

  /* ------ HOME PAGE CSS ------ */

  .gridContainer {
    display: grid;
    grid-template-columns: 2.3fr 1.4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 0%;
  }

  .gridItem1 {
    display: flex;
    flex-direction: column;
    background-color: var(--colorOne);
    border: solid var(--colorTwo);
    border-radius: 3px;
    grid-column: 2.3fr;
    grid-row: 1fr;
    font-family: var(--fontTwo);
    color: var(--colorSix);
    font-weight: lighter;
    font-size: 110%;
    padding: 3%;
  }

  .gridItem1 h1 {
    text-decoration: underline;
    font-size: 100%;
  }

  .gridItem2 {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    background-color: var(--colorOne);
    border: solid var(--colorTwo);
    border-radius: 3px;
    grid-column: 1fr;
    grid-row: 1fr;
    font-family: var(--fontTwo);
    color: var(--colorSix);
    font-weight: lighter;
    font-size: 100%;
    padding: 3%;
  }

  .gridItem2 h3 {
    text-decoration: underline;
  }

  /* ----- PROFILE  ----- */


  .textAreaContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  
  .textAreaContainer h2 {
    font-family: var(--mainFont);
    color: var(--colorSix);
    font-size: 200%;
    font-weight: lighter;
  }
  
  .profileHeader {
  
    color: var(--colorSix);
    font-weight: lighter;
    text-decoration: underline;
  }
  
  
  
  .profileHeader h3 {
    font-family: var(--fontTwo);
    font-size: 200%;
  }
  
  .profileHeader textarea {
    width: 100%;
    height: 150%;
    resize: both;
    border: var(--border);
    border-radius: 8px;
  }
  
  .formButton {
    border-radius: 6px;
    color: var(--colorSix);
    background-color: var(--colorFour);
    font-family: var(--fontTwo);
    font-size: 5vw;
    width: 50%;
  }

  .errorContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    font-family: var(--fontTwo);
    color: var(--colorFour);
    font-weight: lighter;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .errorContainer img {
    border-radius: 20%;
    border: var(--border);
    width: 90vw;
    height: 90vw;
    filter: opacity(70%);
  }

  #pleaseLogin {
    position: absolute;
    top: 56%;
    left: 33%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    font-size: 3vw;
    line-height: 1.5;
    text-align: center;
  }

  #pleaseLogin::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.7);
  }
}

/* iPhone 12 Landscape */
@media only screen and (min-width: 844px) and (max-width: 375px) and (orientation: landscape) {
  /* Your CSS styling for iPhone 12 in landscape orientation */
}
