@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Titan+One&display=swap");

:root {
  --border: 3px solid #407ba5;
  --colorOne: #264653;
  --colorTwo: #2a9d8f;
  --colorThree: #e9c46a;
  --colorFour: #f4a261;
  --colorFive: #e76f51;
  --colorSix: white;
  --mainFont: "Titan One", cursive;
  --fontTwo: "Bubblegum Sans", cursive;
}

/* navbar css */
.header {
  margin-top: 0.25em;
  padding-left: 0.25em;
  background-color: var(--colorTwo);
  border: var(--border);
  border-radius: 7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header h1 {
  font-family: var(--mainFont);
  color: var(--colorSix);
  font-weight: lighter;
  font-size: 3em;
  margin-bottom: 10px;
}

header h2 {
  font-family: var(--mainFont);
  color: var(--colorSix);
  font-weight: lighter;
  font-size: 1.5em;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.5em;
}

.navButtons {
  border-radius: 6px;
  color: var(--colorSix);
  background-color: var(--colorFour);
  font-family: var(--fontTwo);
  font-size: 24px;
  width: 15%;
}

.pagefooter {
  margin-top: 0.25em;
  padding-left: 0.25em;
  background-color: var(--colorTwo);
  border: var(--border);
  border-radius: 7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footerInfo {
  font-family: var(--mainFont);
  color: var(--colorSix);
  font-weight: lighter;
  font-size: 1em;
  margin-bottom: 10px;
}

#gitHubIcon {
  padding-top: 0.5em;
}

/* -----------Login Form----------- */

.loginContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

#contact input[type="text"],
#contact input[type="password"],
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background-color: var(--colorOne);
  padding: 25px;
  margin: 50px 0;
  border: solid var(--colorThree);
  border-radius: 7px;
  width: 35%;
}

#contact h3 {
  font-family: var(--mainFont);
  color: var(--colorSix);
  font-weight: lighter;
  font-size: 1.5em;
  text-align: center;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 75%;
  padding: 0;
  width: 95%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="password"] {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact button[type="submit"] {
  border-radius: 6px;
  color: var(--colorSix);
  background-color: var(--colorFour);
  font-family: var(--fontTwo);
  font-size: 24px;
  width: 25%;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
}

#contact button[type="submit"]:hover {
  background-color: var(--colorTwo);
  color: var(--colorSix);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

/* iPhone 12 Portrait */
@media only screen and (min-width: 355px) and (max-width: 844px) and (orientation: portrait) {
  header h1 {
    font-size: x-large;
    text-align: center;
  }

  header h2 {
    font-size: large;
    text-align: center;
    padding-left: 17px;
    padding-right: 17px;
  }

  .navButtons {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.35s ease-out;
    justify-content: center;
    background-color: var(--colorFour);
    color: var(--colorSix);
    font-size: medium;
    font-family: var(--fontTwo);
    font-weight: bolder;
    width: 5em;
    cursor: pointer;
  }

  /* Your CSS styling for iPhone 12 in portrait orientation */
}

/* iPhone 12 Landscape */
@media only screen and (min-width: 844px) and (max-width: 375px) and (orientation: landscape) {
  /* Your CSS styling for iPhone 12 in landscape orientation */
}

/* Quiz Component */
.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 20px auto;
  max-width: 80%;
  height: auto;
  border: var(--border);
  border-radius: 7px;
  color: var(--colorSix);
  background-color: var(--colorFour);
  font-family: var(--fontTwo);
  font-size: 24px;
}
.quiz-contents {
  text-align: center;
  padding: 0 25px;
}
.quiz-container ul {
  padding: 0;
  list-style: none;
}
.quiz-container li {
  border-radius: 6px;
  background-color: #2a9d8f;
  margin-top: 8px;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}
