.header {
    margin-top: 0.25em;
    padding-left: 0.25em;
    background-color: var(--colorTwo);
    border: var(--border);
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  header h1 {
    font-family: var(--mainFont);
    color: var(--colorSix);
    font-weight: lighter;
    font-size: 3em;
    margin-bottom: 10px;
  }

  header h2 {
    font-family: var(--mainFont);
    color: var(--colorSix);
    font-weight: lighter;
    font-size: 1.5em;
  }

.button-container{
    display: flex;
    justify-content: space-evenly;
}  
  
.navButtons {
    border-radius: 6px;
    color: var(--colorSix);
    background-color: var(--colorFour);
    font-family: var(--fontTwo);
    font-size: 24px;
    width: 15%;
  }